a:link, a:visited {
    text-decoration:none;
    color:#4A6782;
}
a:hover, a:focus {
    text-decoration:none;
    color:#bb7a2a;
}
a:active {
    text-decoration:none;
    color:#4A6782;
}
a[name] {
    color:#353833;
}
a[name]:hover {
    text-decoration:none;
    color:#353833;
}

.code {
	font-family: "Courier New", monospace;
}

.linkcol {
	font-family: "Courier New", monospace;
	width: 25%;
	vertical-align: top;
}

.overviewSummary {
	width: 100%;
	border-left: 1px solid #888;
	border-right: 1px solid #888;
	border-bottom: 1px solid #888;
}
/*
.overviewSummary td.linkcol {
	width: 25%;
	vertical-align: top;
}
 */
.overviewSummary caption {
	position: relative;
	text-align: left;
	font-weight: bold;
	color:#253441;
	padding-left: 2mm;
	padding-top: 5mm;
}

.overviewSummary .tabEnd, .memberSummary .tabEnd, .typeSummary .tabEnd,
.useSummary .tabEnd, .constantsSummary .tabEnd, .deprecatedSummary .tabEnd {
    display:none;
    width:2mm;
    position:relative;
    float:left;
    background-color:#F8981D;
}
.overviewSummary caption span {
	display: inline-block;
	float: left;
	background-color:#F8981D;
    padding-top:2mm;
    padding-left:1mm;
    padding-right:5mm;
    padding-bottom:3mm;
}

.overviewSummary caption a:link, .memberSummary caption a:link, .typeSummary caption a:link,
.useSummary caption a:link, .constantsSummary caption a:link, .deprecatedSummary caption a:link,
.overviewSummary caption a:hover, .memberSummary caption a:hover, .typeSummary caption a:hover,
.useSummary caption a:hover, .constantsSummary caption a:hover, .deprecatedSummary caption a:hover,
.overviewSummary caption a:active, .memberSummary caption a:active, .typeSummary caption a:active,
.useSummary caption a:active, .constantsSummary caption a:active, .deprecatedSummary caption a:active,
.overviewSummary caption a:visited, .memberSummary caption a:visited, .typeSummary caption a:visited,
.useSummary caption a:visited, .constantsSummary caption a:visited, .deprecatedSummary caption a:visited {
    color:#FFFFFF;
}

.altColor {
    background-color:#FFFFFF;
}
.rowColor {
    background-color:#EEEEEF;
}

div.descriptioncol {
	padding-top: 2mm;
	padding-bottom: 2mm;
}

div.func-description {
	padding-top: 2mm;
	margin-bottom: 2mm;
	padding-left: 3mm;
    background-color:#FFFFFF;
}

div.namespace-info {
	font: 14pt Arial;
}

div.namespace-title, div.class-title {
	font: bold 16pt Arial;
}

div.block {
	padding: 2mm;
	background-color:#fff7e6;
	border-left: 1px solid #888;
	border-right: 1px solid #888;
	border-bottom: 1px solid #888;
}

div.block-header {
	font: italic 16pt Arial;
	padding-top: 3mm;
	background-color:#fff7e6;
	padding-bottom: 2mm;
}

div.entity {
	padding: 2mm;
	font: bold 12pt Arial;
    background-color:#EEEEEF;
}

div.declaration {
	padding-top: 2mm;
	font: 12pt "Courier New", monospace;
	white-space: pre;
	padding-left: 3mm;
    background-color:#FFFFFF;
}

div.class-hierarchy {
	font: 12pt "Courier New", monospace;
	padding-top: 5mm;
	white-space: pre;
}

div.impl-iface-caption {
	padding-top: 2mm;
	font: bold 12pt Arial;
}

div.impl-ifaces {
	font: 12pt "Courier New", monospace;
}

div.namespace-text {
}

div.class-text {
	margin-top: 3mm;
	border-style: solid;
	border-color: black;
	border-width: 1px 0 0 0;
}

